{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #9370db; color: #fff;">
          <h2 class="mb-0">Actualizar Carrera</h2>
        </div>
        <div class="card-header">
          <form action="/procesarActualizacionCarrera/" method="post" id="frm_nueva_carrera" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" name="id_carrera" value="{{ carrera.idCarreraLMQY }}">

            <div class="mb-3">
              <label for="nombre_carrera" class="form-label"><b>NOMBRE</b></label>
              <input type="text" name="nombre_carrera" id="nombre_carrera" value="{{ carrera.nombreCarreraLMQY }}" placeholder="Ingrese el nombre de la carrera" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="director_carrera" class="form-label"><b>DIRECTOR</b></label>
              <input type="text" name="director_carrera" id="director_carrera" value="{{ carrera.directorCarreraLMQY }}" placeholder="Ingrese el director" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="duracion_carrera" class="form-label"><b>DURACIÓN (en años)</b></label>
              <input type="number" name="duracion_carrera" id="duracion_carrera" value="{{ carrera.duracionCarreraLMQY }}" placeholder="Ingrese la duración en años" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="modalidad_carrera" class="form-label"><b>MODALIDAD</b></label>
              <input type="text" name="modalidad_carrera" id="modalidad_carrera" value="{{ carrera.modalidadCarreraLMQY }}" placeholder="Ingrese la modalidad" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="logo_carrera" class="form-label"><b>LOGO</b></label>
              <input type="file" accept="image/*" class="form-control rounded-5 m-1" name="logo_carrera" id="logo_carrera" />
              {% if carrera.logoCarreraLMQY %}
                <a href="{{ carrera.logoCarreraLMQY.url }}" target="_blank">
                  <img src="{{ carrera.logoCarreraLMQY.url }}" alt="" width="100" height="50"></a>
              {% endif %}
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-success">Actualizar</button>
              <a href="/" class="btn btn-danger">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
