{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #9370db; color: #fff;">
          <h2 class="mb-0">Actualizar Curso</h2>
        </div>
        <div class="card-header">
          <form action="/procesarActualizacionCurso/" method="post" id="frm_nuevo_curso" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" name="idCursoLMQY" value="{{ curso.idCursoLMQY }}">

            <div class="mb-3">
              <label for="carreraLMQY" class="form-label"><b>CARRERA</b></label>
              <select class="form-control" name="carreraLMQY" required>
                <option value="">--Seleccione una carrera--</option>
                {% for carrera in carreras %}
                  <option value="{{ carrera.idCarreraLMQY }}" {% if curso.carreraLMQY and curso.carreraLMQY.idCarreraLMQY == carrera.idCarreraLMQY %} selected {% endif %}>{{ carrera.nombreCarreraLMQY }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="nivelCursoLMQY" class="form-label"><b>NIVEL</b></label>
              <input type="text" name="nivelCursoLMQY" id="nivelCursoLMQY" value="{{ curso.nivelCursoLMQY }}" placeholder="Ingrese el nivel" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="descripcionCursoLMQY" class="form-label"><b>DESCRIPCIÓN</b></label>
              <textarea name="descripcionCursoLMQY" id="descripcionCursoLMQY" rows="3" class="form-control" placeholder="Ingrese la descripción" required>{{ curso.descripcionCursoLMQY }}</textarea>
            </div>

            <div class="mb-3">
              <label for="aulaCursoLMQY" class="form-label"><b>AULA</b></label>
              <input type="text" name="aulaCursoLMQY" id="aulaCursoLMQY" value="{{ curso.aulaCursoLMQY }}" placeholder="Ingrese el aula" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="fechaInicioCursoLMQY" class="form-label"><b>FECHA DE INICIO</b></label>
              <input type="date" name="fechaInicioCursoLMQY" id="fechaInicioCursoLMQY" value="{{ curso.fechaInicioCursoLMQY|date:'Y-m-d' }}" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="horasClaseSemanaCursoLMQY" class="form-label"><b>HORAS DE CLASE POR SEMANA</b></label>
              <input type="number" name="horasClaseSemanaCursoLMQY" id="horasClaseSemanaCursoLMQY" value="{{ curso.horasClaseSemanaCursoLMQY }}" placeholder="Ingrese las horas de clase por semana" class="form-control" required>
            </div>



            <div class="text-center">
              <button type="submit" class="btn btn-success">Actualizar</button>
              <a href="/listadoCursos/" class="btn btn-danger">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
