{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #9370db; color: #fff;">
          <h2 class="mb-0">Actualizar Asignatura</h2>
        </div>
        <div class="card-header">
    <form class="" action="/procesarActualizacionAsignatura/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>Seleccione el curso</b>
      <select class="form-control" name="curso_id" id="curso_id" required>
        <option value="">--Seleccione el curso--</option>
        {% for curso in cursos %}
        <option value="{{curso.idCursoLMQY}}">{{curso.nivelCursoLMQY}}</option>
        {% endfor %}
      </select>

      <script type="text/javascript">
        document.getElementById('curso_id').value="{{asignatura.cursoLMQY.idCursoLMQY}}"
      </script>

      <br>
      <input type="hidden" name="id_asignatura"  value="{{asignatura.idAsignaturaLMQY}}">
      <b>NOMBRE</b>
      <br>
      <input type="text" name="nombre" id="nombre"value="{{asignatura.nombreAsignaturaLMQY}}" placeholder="Ingrese el nombre"
      class="form-control" required>
      <br>
      <b>CRÉDITOS</b>
      <input type="number" name="credito"  id="credito"value="{{asignatura.creditoAsignaturaLMQY}}" placeholder="Ingrese los créditos"
      class="form-control" required>
      <b>FECHA DE INICIO</b>
      <input type="date" name="fecha_inicio" id="fecha_inicio"value="{{asignatura.fechaInicioAsignaturaLMQY|date:'Y-m-d'}}" class="form-control" required>
      <br>
      <b>FECHA DE FINALIZACIÓN</b>
      <input type="date" name="fecha_finalizacion" id="fecha_finalizacion"value="{{asignatura.fechaFinalizacionAsignaturaLMQY|date:'Y-m-d'}}" class="form-control" required>
      <br>
      <b>PROFESOR</b>
      <input type="text" name="profesor" id="profesor"
      value="{{asignatura.profesorAsignaturaLMQY}}" placeholder="Ingrese el profesor"class="form-control" required>
      <br>


      <br>
      <b>SILABO</b>
      <br>
        {% if asignatura.silaboAsignaturaLMQY %}
        <a href="{{ asignatura.silaboAsignaturaLMQY.url }}" target="_blank">Descargar Documento Actual</a>
        <br>
        {% endif %}
        <input type="file" name="silabo" id="silabo" accept=".pdf">
        <br>
      <b>DESCRIPCIÓN</b>
      <textarea name="descripcion" id="descripcion" placeholder="Ingrese la descripción" class="form-control" required>{{asignatura.descripcionAsignaturaLMQY}}</textarea>
      <br>
      <b>HORARIO</b>
      <input type="text" name="horario" id="horario"value="{{asignatura.horarioAsignaturaLMQY}}" placeholder="Ingrese el horario"class="form-control" required>

      <br><br>
      <center>
        <div class="text-center">
          <button type="submit" class="btn btn-success">Actualizar</button>
          <a href="/listadoAsignaturas/" class="btn btn-danger">Cancelar</a>
        </div>
      </form>
    </div>
  </div>


{% endblock %}
