{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<br>
<ul>
    <div class="row">
        <div class="col-md-4" style="">
            <form action="/guardarCurso/" method="post" enctype="multipart/form-data" id="frm_nuevo_curso">
                <center><h1 class="mt-3 mx-2 text-dark"><strong>CURSOS</strong></h1></center>
                {% csrf_token %}

                <b>SELECCIONE LA CARRERA:</b>
                    <br>
                    <select  name="carreraLMQY"  id="carreraLMQY" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
                      <option value=""> Seleccionar la carrera</option>
                      {% for carrera in carreras %}
                      <option value="{{ carrera.idCarreraLMQY }}">{{ carrera.nombreCarreraLMQY }}</option>

                      {% endfor %}
                    </select>
                    <br>
                    <br>
                    <br>
                <b>NIVEL:</b>
                <input type="text" name="nivelCursoLMQY" value="" id="nivelCursoLMQY" placeholder="Ingrese el nivel" class="form-control" required>
                <br>
                <b>DESCRIPCION:</b>
                <input type="text" name="descripcionCursoLMQY" value="" id="descripcionCursoLMQY" placeholder="Ingrese la descripción" class="form-control" required>
                <br>
                <b>AULA:</b>
                <input type="text" name="aulaCursoLMQY" value="" id="aulaCursoLMQY" placeholder="Ingrese el aula" class="form-control" required>
                <br>
                <b>FECHA DE INICIO:</b>
                <input type="date" name="fechaInicioCursoLMQY" value="" id="fechaInicioCursoLMQY" class="form-control" required>
                <br>
                <b>HORAS DE CLASE POR SEMANA:</b>
                <input type="number" name="horasClaseSemanaCursoLMQY" value="" id="horasClaseSemanaCursoLMQY" placeholder="Ingrese las horas de clase por semana" class="form-control" required>
                <br>

                <center>
                    <br>
                    <button type="submit" name="button" class="btn btn-dark">Guardar</button>
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <button type="submit" name="button" class="btn btn-danger">Cancelar</button>
                </center>
            </form>
        </div>
        <div class="col-md-8">
            <div class="d-flex justify-content-center align-items-center">
                <img class="imagen img-fluid" src="{% static 'img/uni.png' %}" alt="" style="max-width: 800px; height: auto;">
            </div>
            <br>
            <table class="table table-bordered table-striped" id="tbl_cursos">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>CARRERA</th>
                        <th>NIVEL</th>
                        <th>DESCRIPCION</th>
                        <th>AULA</th>
                        <th>FECHA DE INICIO</th>
                        <th>HORAS DE CLASE POR SEMANA</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for curso in cursos %}
                    <tr>
                        <td>{{ curso.idCursoLMQY }}</td>
                        <td>{{ curso.carreraLMQY.nombreCarreraLMQY }}</td>
                        <td>{{ curso.nivelCursoLMQY }}</td>
                        <td>{{ curso.descripcionCursoLMQY }}</td>
                        <td>{{ curso.aulaCursoLMQY }}</td>
                        <td>{{ curso.fechaInicioCursoLMQY }}</td>
                        <td>{{ curso.horasClaseSemanaCursoLMQY }}</td>

                        <td>
                            <a href="/editarCurso/{{ curso.idCursoLMQY }}" class="btn btn-warning">Editar</a>
                            <a href="javascript:void(0)" onclick="eliminarCurso('/eliminarCurso/{{ curso.idCursoLMQY }}');" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Agregar una fila para la imagen debajo de la tabla -->
            <br>
        </div>
    </div>
</ul>

<script type="text/javascript">
    function eliminarCurso(url) {
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el curso seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href = url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#frm_nuevo_curso").validate({
            rules:{
                "nivelCursoLMQY": {
                    required: true
                },
                "descripcionCursoLMQY": {
                    required: true
                },
                "aulaCursoLMQY": {
                    required: true
                },
                "fechaInicioCursoLMQY": {
                    required: true,
                    fechaNoAnterior: true
                },
                "horasClaseSemanaCursoLMQY": {
                    required: true
                },
                "carreraLMQY": {
                    required: true
                }
            },
            messages:{
                "nivelCursoLMQY": {
                    required: "Por favor ingrese el nivel del curso"
                },
                "descripcionCursoLMQY": {
                    required: "Por favor ingrese la descripción del curso"
                },
                "aulaCursoLMQY": {
                    required: "Por favor ingrese el aula del curso"
                },
                "fechaInicioCursoLMQY": {
                    required: "Por favor ingrese la fecha de inicio del curso",
                    fechaNoAnterior: "La fecha de inicio no puede ser anterior a la fecha actual"
                },
                "horasClaseSemanaCursoLMQY": {
                    required: "Por favor ingrese las horas de clase por semana"
                },
                "carreraLMQY": {
                    required: "Por favor seleccione una carrera"
                }
            }
        });

        // Función personalizada para validar que la fecha no sea anterior a la fecha actual
        $.validator.addMethod("fechaNoAnterior", function(value, element) {
            var fechaInicio = new Date(value);
            var fechaActual = new Date();
            return fechaInicio >= fechaActual;
        }, "La fecha de inicio no puede ser anterior a la fecha actual");
    });
</script>

<script type="text/javascript">
    $('#tbl_cursos').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
        },
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE CURSOS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
        ]
    });
</script>
<button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>

<div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
  <canvas id="myChart"></canvas>
</div>

          <script>
          document.addEventListener('DOMContentLoaded', function () {
          const ctx = document.getElementById('myChart');

          const tiposSet = new Set();

          const cursosTipo = {};
          {% for curso in cursos %}
          tiposSet.add("{{ curso.nivelCursoBSGH }}");
          if (!cursosTipo["{{ curso.nivelCursoBSGH  }}"]) {
                        cursosTipo["{{ curso.nivelCursoBSGH }}"] = 1;
                      } else {
                        cursosTipo["{{ carrera.nivelCursoBSGH }}"] += 1;
                      }

          {% endfor %}
          const tiposArray = Array.from(tiposSet);
          const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: cursosTipo[tipo] || 0 }));

          new Chart(ctx, {
          type: 'bar',
          data: {
            labels: tiposArray,
            datasets: [{
              label: 'Cantidad de cursos',
              data: posiciones.map(posicion => posicion.y),
              backgroundColor: 'rgba(75, 192, 192, 0.5)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
            }]
          },
          options: {
            scales: {
              x: {
                type: 'category',
                position: 'bottom',
              },
              y: {
                beginAtZero: true,
                max: 10,
                stepSize: 1,
              }
            }
          }
          });
          window.toggleChart = function() {
          const chartContainer = document.getElementById('chartContainer');

          if (chartContainer.style.display === 'none') {
            chartContainer.style.display = 'block';
          } else {
            chartContainer.style.display = 'none';
          }
          };
          });

          </script>

{% endblock %}
