{% extends "plantilla.html" %}
{% load static %}
{% block contenido %}

<div class="row">

    <div class="col-md-5" style="">
        <form action="{% url 'guardar_asignatura' %}" method="post" enctype="multipart/form-data" id="frm_nueva_asignatura">
            <center><h1 class="mt-3 mx-2 text-dark"><strong>ASIGNATURAS</strong></h1></center>
            {% csrf_token %}
            <b>SELECCIONE EL CURSO:</b>
            <select class="form-control" name="curso_id" required>
                <option value="">--SELECCIONE EL CURSO--</option>
                {% for curso in cursos %}
                <option value="{{ curso.idCursoLMQY }}">{{ curso.nivelCursoLMQY }}</option>
                {% endfor %}
            </select>

            <br>

            <b>NOMBRE:</b>
            <br>
            <input type="text" name="nombre" value="" id="nombre" placeholder="Ingrese el nombre de la asignatura" class="form-control" required>
            <br>
            <b>CREDITO:</b>
            <input type="number" name="credito" value="" id="credito" placeholder="Ingrese los créditos de la asignatura" class="form-control" required>

            <br>
            <b>FECHA INICIO:</b>
            <input type="date" name="fecha_inicio" id="fecha_inicio" class="form-control" required>

            <br>
            <b>FECHA FINALIZACIÓN:</b>
            <input type="date" name="fecha_finalizacion" id="fecha_finalizacion" class="form-control" required>

            <br>
            <b>PROFESOR:</b>
            <input type="text" name="profesor" value="" id="profesor" placeholder="Ingrese el nombre del profesor" class="form-control" required>

            <br>
            <b>SILABO:</b>
            <input type="file" name="silabo" id="silabo" accept=".pdf" required>

            <br>
            <br>
            <br>
            <b>DESCRIPCIÓN:</b>
            <textarea name="descripcion" id="descripcion" placeholder="Ingrese la descripción de la asignatura" class="form-control" required></textarea>

            <br>
            <b>HORARIO:</b>
            <input type="text" name="horario" value="" id="horario" placeholder="Ingrese el horario de la asignatura" class="form-control" required>

            <br>
          
            <br><br>
            <center>
                <button type="submit" name="button" class="btn btn-dark">Guardar</button>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
            </center>
        </form>
    </div>
    <div class="col-md-7">
        <div class="d-flex justify-content-center align-items-center">
            <img class="imagen img-fluid" src="{% static 'img/uni.png' %}" alt="" style="max-width: 800px; height: auto;">
        </div>
        <br>
        <table class="table table-bordered table-striped" id="tbl_asignaturas">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>CURSO</th>
                    <th>CREDITO</th>
                    <th>FECHA INICIO</th>
                    <th>FECHA FINALIZACIÓN</th>
                    <th>PROFESOR</th>
                    <th>DESCRIPCIÓN</th>
                    <th>HORARIO</th>
                    <th>SILABO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for asignatura in asignaturas %}
                <tr>
                    <td>{{ asignatura.idAsignaturaLMQY }}</td>
                    <td>{{ asignatura.nombreAsignaturaLMQY }}</td>
                    <td>{{ asignatura.cursoLMQY.nivelCursoLMQY }}</td>
                    <td>{{ asignatura.creditoAsignaturaLMQY }}</td>
                    <td>{{ asignatura.fechaInicioAsignaturaLMQY }}</td>
                    <td>{{ asignatura.fechaFinalizacionAsignaturaLMQY }}</td>
                    <td>{{ asignatura.profesorAsignaturaLMQY }}</td>
                    <td>{{ asignatura.descripcionAsignaturaLMQY }}</td>
                    <td>{{ asignatura.horarioAsignaturaLMQY }}</td>

                    <td>
                        {% if asignatura.silaboAsignaturaLMQY %}
                        <object data="{{ asignatura.silaboAsignaturaLMQY.url }}" type="application/pdf" width="100%" height="500px">
                            <p><a href="{{ asignatura.silaboAsignaturaLMQY.url }}" target="_blank">Descargar PDF</a></p>
                        </object>
                        {% else %}
                        <b>N/A</b>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'editar_asignatura' asignatura.idAsignaturaLMQY %}" class="btn btn-warning">Editar</a>
                        <a href="javascript:void(0)" onclick="eliminarAsignatura('{% url 'eliminar_asignatura' asignatura.idAsignaturaLMQY %}');" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Agregar una fila para la imagen debajo de la tabla -->
        <br>
    </div>
</div>

<script type="text/javascript">
    function eliminarAsignatura(url) {
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar la asignatura seleccionada?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href = url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                }],
            ]
        });
    }
</script>

<script type="text/javascript">
    $("#frm_nueva_asignatura").validate({
        rules: {
            "curso_id": {
                required: true
            },
            "nombre": {
                required: true
            },
            "credito": {
                required: true,
                number: true
            },
            "fecha_inicio": {
                required: true
            },
            "fecha_finalizacion": {
                required: true
            },
            "profesor": {
                required: true
            },
            "silabo": {
                required: true
            },
            "descripcion": {
                required: true
            },
            "horario": {
                required: true
            },
            "horas_total": {
                required: true,
                number: true
            }
        },
        messages: {
            "curso_id": {
                required: "Por favor seleccione el curso"
            },
            "nombre": {
                required: "Debe ingresar el nombre de la asignatura"
            },
            "credito": {
                required: "Debe ingresar los créditos de la asignatura",
                number: "Ingrese un valor numérico"
            },
            "fecha_inicio": {
                required: "Debe ingresar la fecha de inicio de la asignatura"
            },
            "fecha_finalizacion": {
                required: "Debe ingresar la fecha de finalización de la asignatura"
            },
            "profesor": {
                required: "Debe ingresar el nombre del profesor"
            },
            "silabo": {
                required: "Debe seleccionar un archivo para el sílabo"
            },
            "descripcion": {
                required: "Debe ingresar la descripción de la asignatura"
            },
            "horario": {
                required: "Debe ingresar el horario de la asignatura"
            },
            "horas_total": {
                required: "Debe ingresar las horas totales de la asignatura",
                number: "Ingrese un valor numérico"
            }
        }
    });
</script>

<script type="text/javascript">
    $('#tbl_asignaturas').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
        },
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE ASIGNATURAS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
        ]
    });
</script>
<button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>

<div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
  <canvas id="myChart"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const ctx = document.getElementById('myChart');

      const tiposSet = new Set();

      const asignaturasTipo = {};
      {% for asignatura in asignaturas %}
        tiposSet.add("{{ asignatura.cursoLMQY.descripcionCursoLMQY }}");
        if (!asignaturasTipo["{{ asignatura.cursoLMQY.descripcionCursoLMQY }}"]) {
          asignaturasTipo["{{ asignatura.cursoLMQY.descripcionCursoLMQY }}"] = 1;
        } else {
          asignaturasTipo["{{ asignatura.cursoLMQY.descripcionCursoLMQY }}"] += 1;
        }
      {% endfor %}
      const tiposArray = Array.from(tiposSet);
      const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: asignaturasTipo[tipo] || 0 }));

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: tiposArray,
          datasets: [{
            label: 'Cantidad de Asignaturas',
            data: posiciones.map(posicion => posicion.y),
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
          }]
        },
        options: {
          scales: {
            x: {
              type: 'category',
              position: 'bottom',
            },
            y: {
              beginAtZero: true,
              max: 10,
              stepSize: 1,
            }
          }
        }
      });
      window.toggleChart = function() {
        const chartContainer = document.getElementById('chartContainer');

        if (chartContainer.style.display === 'none') {
          chartContainer.style.display = 'block';
        } else {
          chartContainer.style.display = 'none';
        }
      };
    });

</script>

{% endblock %}
